/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/

.result-list {
    height: calc(100vh - (51px + 86px + 24px + 30px + 27px));
    width: calc(100vw - 35px);
}

.mtg-card {
    width: 32px;
    height: 32px;
}